.main {
    width: 800px;
    margin: 50px auto;
    background: brown;
    padding: 20px;
}

h1 {
    text-align: center;
}

.content {
    background: white;
    display: flex;
    
}

.content div {
    flex: 1;
}

.muffin{
    height:400px;
}
.upgrade-container, .inventory, .muffin{
    border: 10px solid brown;
}

.MRC{
    background: black;
    color: white;
    font-family:unset;
    text-align: center;
}

.buildings{
    border-top:10px solid brown;
    overflow-y:scroll;
    height:297px;
}

.upgrades{
    background:white;
    color:black;
    height:75px;
    overflow-y:scroll;
    height:75px;
}
#cursor{
    width:50px;
    height:50px;
}

#cursor-div{
    background:grey;
    display: flex;
    flex: 1;
}

.baker{
    background:grey;
    display: flex;
    flex: 1;
}
#baker{
    width:60px;
    height:60px;
}

#cursor-float{
    width:0px;
    height:0px;
}
