.main {
    width: 800px;
    margin: 50px auto;
    background: brown;
    padding: 20px;
}

h1 {
    text-align: center;
}

.content {
    background: white;
    display: flex;
    
}

.content div {
    flex: 1;
}

.muffin{
    height:411px;
}
    
.upgrade-container, .inventory, .muffin{
    border: 10px solid brown;
}

#buildings-inventory{
    border: 5px solid brown;
    height:301px;
    overflow-y: scroll;
}

.upgrades-inventory{
    height:90px;
    border: 5px solid brown;
}

.MRC{
    background: black;
    color: white;
    font-family:unset;
    text-align: center;
}

.buildings{
    border-top:10px solid brown;
    overflow-y:scroll;
    height:308px;
    background:black;
    color: white;
}

.upgrades{
    background:white;
    color:black;
    height:75px;
    overflow-y:scroll;
}
/* cursor */
#cursor{
    width:50px;
    height:50px;
}
#cursor-div{
    background:grey;
    display: flex;
    flex: 1;
    color: black;
}
#cursor-inventory{
    width:60px;
    height:60px;
}
#cursors{
    font-size:60px;
}
#cost{
    padding-left:90px;
}



/* baker */
#baker-div{
    background:grey;
    display: flex;
    flex: 1;
    color: black;
}
#baker{
    width:60px;
    height:60px;
}
#baker-inventory{
    width:60px;
    height:60px;
}
#bakers{
    font-size:60px;
}

/* bakery */
#bakery{
    width:60px;
    height:60px;
}
#bakery-div{
    background:grey;
    display:flex;
    flex:1;
    color: black;
}
#bakery-inventory{
    width:60px;
    height:60px;
}
#bakeries{
    font-size:60px;
}

/* farm */
#farm{
    width:60px;
    height:60px;
}
#farm-div{
    background:grey;
    display:flex;
    flex:1;
    color: black;
}
#farm-inventory{
    width:60px;
    height:60px;
}
#farms{
    font-size:60px;
}

/* factory */
#factory{
    width:60px;
    height:60px;
}
#factory-div{
    background: grey;
    display:flex;
    flex:1;
    color:black;
}
#factory-inventory{
    width:60px;
    height:60px;
}
#factories{
    font-size:60px;
}

/* Bank */
#bank{
    width:60px;
    height:60px;
}
#bank-div{
    background: grey;
    display:flex;
    flex:1;
    color:black;
}
#bank-inventory{
    width:60px;
    height:60px;
}
#banks{
    font-size:60px;
}

/* upgrade section */
#gold-cursor{
    display:flex;
    flex:1;
    width:60px;
    height:70px;
    float:left;
}
#cursor-upgrade{
    font-size:14px;
    display:none;
}

