.main {
    width: 800px;
    margin: 50px auto;
    background: brown;
    padding: 20px;
}

h1 {
    text-align: center;
}

.content {
    background: white;
    display: flex;
    
}

.content div {
    flex: 1;
    border: 10px solid brown;
}

.muffin{
    height:400px;
}
#canvas{
    
}
